# Dependências
/node_modules
/.pnp
.pnp.*

# Next.js / Build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Logs e Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de Ambiente (SEGURANÇA!)
.env*.local
.env.production.local
.env.development.local

# Vercel
.vercel

# Editor e OS
.DS_Store
Thumbs.db
.vscode/
.idea/